@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    margin:0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #F7F7F7;
    min-height: 100%;
}

#footer {
    font-size: 24px;
    margin-top: 500px;
    clear: left;
    width: 100%;
    text-align: center;
    background-color: #43D1AF;
}

#header {
    text-align: center;
    background-color:#43D1AF;
    font-size: 25px;
    color:aliceblue;
}

#header a {
    text-decoration: none
}

#header-first-line {
    display:flex;
    justify-content: space-between;
}

#header-first-line div { margin-right: 25px}

#header-title {
    display:flex;
    justify-content: center;
    padding: 7px;
    font-size: 32px;
}

#menu {
    float: left;
    padding: 0 10px 0 10px;
}

#content {
    float: left;
}

input[type="text"] {
    margin: 5px;
}

input[type="submit"],
input[type="button"] {
    width: 200px;
    box-shadow:inset 0px 1px 0px 0px #43D1AF;
    background-color:#43D1AF;
    border:1px solid #314179;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Roboto;
    font-size:13px;
    font-weight:bold;
    padding:6px 12px;
    text-decoration:none;
    margin:  5px;
}

input[type="button"]:hover,
input[type="submit"]:hover {

    background-color: #54e2bf;
}

input[type="button"]:active,
input[type="submit"]:active {
    position:relative;
    top:1px;
}

#repeated-path {
    margin-left: 25px;
}

#repeated-path a{
    color: aliceblue;
}
#repeated-path a:last-child {
    color: #c00000;
}



table {

    margin-top: 25px;
}

.data-table {
    text-align: center;
}

.current-button {
    background-color: #dd531d !important;
}


td, tr {
    padding-right: 10px;
    min-width: 100px;
}

input[type="button"]:disabled,
input[type="button"][disabled] {
    background-color:#c0c0c0;
    box-shadow: none;
    cursor: no-drop;
}
